@import url(./fonts.css);

html{
    box-sizing: border-box;
}

*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'TTLakes-Regular';
    letter-spacing: 1px;
}


/* HEADER */


.header{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #e8faf7;
}

.header-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.burger{
    flex-basis: 80px;
    display: flex;
}

.burger__header-button--menu{
    margin: auto;
    /* background: url("../img/header-imgs/burger.svg"); */
}

.tools-block{
    flex-basis: 130px;
    display: flex;
    justify-content: space-evenly;
    border-left: 2px solid #EAEAEA;
    margin-left: 30px;
}

/* .tools-block__header-button--tools{
    background: url("../img/header-imgs/checkstatus.svg");
} */

/* .tools-block__header-button--search{
    background: url("../img/header-imgs/repair.svg");
} */

.logo{
    flex-grow: 1;
}

.logo__img{
    background-color: #fff;
    margin: 10px 0;
}  


/* SECTION SERVICES */


.services{
    background-color: #F8F8F8;
}

.service__header{
    padding: 15px 0;
    font-family: 'TTLakes-Bold';
}

.services__text{
    padding-left: 15px;
    border-left: 3px solid #41F6D7;
}