@import url(./fonts.css);

html{
    box-sizing: border-box;
}

*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'TTLakes-Regular';
    letter-spacing: 1px;
}


/* HEADER */


.header{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #e8faf7;
}

.header-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.burger{
    flex-basis: 80px;
    display: flex;
}

.burger__header-button--menu{
    margin: auto;
    /* background: url("../img/header-imgs/burger.svg"); */
}

.tools-block{
    flex-basis: 130px;
    display: flex;
    justify-content: space-evenly;
    border-left: 2px solid #EAEAEA;
    margin-left: 30px;
}

/* .tools-block__header-button--tools{
    background: url("../img/header-imgs/checkstatus.svg");
} */

/* .tools-block__header-button--search{
    background: url("../img/header-imgs/repair.svg");
} */

.logo{
    flex-grow: 1;
}

.logo__img{
    background-color: #fff;
    margin: 10px 0;
}  


/* SECTION SERVICES */


.services{
    background-color: #F8F8F8;
}

.service__header{
    padding: 20px 0;
    font-family: 'TTLakes-Bold';
}

.services__text{
    padding-left: 15px;
    border-left: 3px solid #41F6D7;
}

.services-slider{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 15px;
    padding: 0 10px;
    overflow-x: hidden;
}

.services-slider__item{
    display: flex;
    justify-content: center;
    min-width: 250px;
    flex-basis: 20%;
    padding: 5px;
    font-family: 'TTLakes-Exlight';
    font-weight: lighter;
}

.services-slider__item--active{
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #99eee0;
}

.services__par-block{
    height: 20vh;
    overflow-y: hidden;
    padding: 20px;
}

.services-button{
    margin: 15px;
}

.services-button__readmore-button{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 7px;
    font-size: 15px;
    font-weight: lighter;
}

.services-button__arrows{
    margin-right: 5px;
}

.srevices__img{
    width: 100%;
    min-height: 35vh;
    background-image: url(../img/section-imgs/_MG_3223.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}