@import url(./fonts.css);

html{
    box-sizing: border-box;
}

*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'TTLakes-Regular';
    letter-spacing: 1px;
}


/* HEADER */


.header{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #e8faf7;
}

.header-button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.burger{
    flex-basis: 80px;
    display: flex;
}

.burger__header-button--menu{
    margin: auto;
}

.buttons-block{
    display: flex;
    justify-content: space-evenly;
}

.tools-block{
    flex-basis: 130px;
    border-left: 2px solid #EAEAEA;
    margin-left: 30px;
}

.conect-us{
    display: none;
    flex-basis: 180px;
}

.logo{
    flex-grow: 1;
}

.logo__img{
    background-color: #fff;
    margin: 10px 0;
}  

@media(min-width: 768px){
    .burger{
        border-right: 2px solid #EAEAEA;
        margin-right: 15px;
    }

    .tools-block{
        margin: 0;
    }

    .conect-us{
        display: flex;
    }
}

@media(min-width: 1120px){
    .header{
        display: none;
    }
}

/* SECTION SERVICES */


.services{
    background-color: #F8F8F8;
    overflow: hidden;
}

.service__header{
    padding: 20px 0;
    font-family: 'TTLakes-Bold';
}

.service__buttons-block{
    display: none;
}

.services__text{
    padding-left: 15px;
    border-left: 3px solid #41F6D7;
}

.services-slider{
    /* position: absolute;
    left: 0; */
    display: flex;
    margin-bottom: 15px;
    padding: 0 10px;
}

.services-slider__item{
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 250px;
    flex-basis: 20%;
    padding: 5px;
    font-family: 'TTLakes-Exlight';
    font-weight: lighter;
    border-radius: 6px;
}

.services-slider__item:hover{
    font-weight: bolder;
}

.services-slider__item--active{
    background-color: #fff;
    border: 2px solid #99eee0;
}

.services__par-block{
    padding: 20px;
    margin-top: 20px;
}

.services__par-text{
    height: 17vh;
    overflow-y: hidden;
}

.services-button{
    margin: 15px;
}

.services-button__readmore-button{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 7px;
    font-size: 15px;
    font-weight: lighter;
}

.services-button__arrows{
    border-radius: 3px;
    margin-right: 5px;
}

.services-button__readmore-button:hover .services-button__arrows{
    background-color: rgb(68, 68, 68);
}

.srevices__img{
    width: 100%;
    min-height: 35vh;
    background-image: url(../img/section-imgs/_MG_3223.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(min-width: 660px){
    .services-description{
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    }

    .services__par-block{
        flex-basis: 50%;
        margin-top: 0;
        padding-top: 0;
    }

    .services__par-text{
        font-size: 1.1rem;
    }

    .srevices__img{
        flex-basis: 50%;
        align-self: flex-start;
        border-radius: 15px;
    }
}


@media(min-width: 1120px){
    .service__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service__buttons-block{
        display: flex;
        justify-content: space-evenly;
        flex-basis: 30%;
    }

    .header-button--service-bth{
        display: flex;
        padding: 4px;
        align-items: center;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .header-button--service-bth:hover{
        box-shadow: 0 0 5px 2px rgb(122, 122, 122);
        border-radius: 5px;
    }

    .header-button--service-txt{
        font-family: 'TTLakes-Regular';
        font-size: 1.2rem;
        font-weight: bolder;
        margin-right: 10px;
        letter-spacing: 1px;
    }
}