/* Main Menu Styles */

.main-menu{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

/* Main Menu Header */

.main-menu__header{
    width: 320px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
}

.basic-button--search-bg{
    background: url("../img/menu-imgs/search.svg") no-repeat center;
    margin: 0 10px;
}

.basic-button--close-bg{
    background: url("../img/menu-imgs/burger.svg") no-repeat center;
    margin: 0 10px;
}

/* Main Menu List */

.main-menu__list{
    flex-grow: 1;
    list-style: none;
}

.main-menu__link{
    position: relative;
    overflow: hidden;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    padding-left: 25px;
}

.main-menu__link::after{
    position: absolute;
    top: 30px;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgb(14, 13, 13);
    transform: translateX(-120%);
    transition: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.main-menu__list-item:hover > .main-menu__link{
    font-size: 17px;
}

.main-menu__list-item:hover > .main-menu__link::after{
    transform: translateX(0);
    background-color: rgb(197, 197, 197);
    transition: transform, background-color;
    transition-duration: 0.3s, 0.5s;
    transition-timing-function: ease-out;
}

.main-menu__link--active{
    color: #7E7E82;
    border-left: 4px solid #41F6D7;
}

/* Contact Block Styles */

.main-menu__contacts{
    margin-top: 40px;
    padding-left: 10px;
}

.email-wrap,
.phone-wrap{
    margin-top: 10px;
    padding: 5px 10px 0px 10px;
    overflow: hidden;
}

.email,
.phone{
    position: relative;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.phone{
    font-family: 'TTLakes-Bold';
    font-weight: normal;
}

.email::after,
.phone::after{
    position: absolute;
    top: 0;
    left: 105%;
    content: "";
    height: 100%;
    width: 200%;
    background-color: rgba(194, 194, 194, 0.596);
    transform: translateX(100%);
}

@keyframes faststik {
    0%{
        transform: translateX(100%);
    }
    30%{
        transform: translateX(0%);
        width: 200%;
    }
    70%{
        width: 2%;
        background-color: rgba(194, 194, 194, 0.596);
    }
    100%{
        background-color: rgb(8, 8, 8);
        width: 2%;
        transform: translateX(0%);
    }
}


.email:hover::after,
.phone:hover::after{
    animation: faststik;
    animation-duration: 0.4s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.phone{
    font-size: 20px;
    letter-spacing: -0.6px;
    font-size: 24px;
    line-height: 32px;
}

/* Main menu Language Block Styles*/

.radio-block{
    margin: 20px 20px 30px 20px;
}

.lang-label{
    cursor: pointer;
    font-weight: bold;
}

.radio-block > input{
    position: absolute;
    left: -100%;
}

.radio-block input:checked + .lang-label{
    color: #7E7E82;
    font-weight: normal;
}