.repair{
    background-color: #F8F8F8;
    border: 1px solid transparent;
}

/* Repaer Header Styles */


.repair-header{
    border: 1px solid transparent;
    background: linear-gradient( -270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.repair-header__text{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color:  #7E7E82;
    font-family: 'TTLakes-Regular';
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 15px 0px 15px 31px;
}

/* Repair Main Styles */


.repair-main{
    border: 1px solid transparent;
    overflow: hidden;
}

.repair-cards{
    margin: 24px 20px 40px 0px;
}




@media(min-width: 560px){

    .repair-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 150px;
        margin-bottom: 15px;
        margin-left: 20px;
        transition: height;
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
    }

    .repair-cards--show-all{
        height: 850px;
        transition: height;
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
    }
}

@media(min-width: 560px){
    .repair-cards--show-all{
        height: 500px;
        transition: height;
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
    }

    .repair-cards__button:hover{
        transform: scale(1.1);
        box-shadow: 0 2px 5px 0 rgb(184, 183, 183);
        transition: transform;
        transition-duration: 0.4s;
    }

    .repair-cards__button:hover>img{
        margin-left: 12%;
        transition: margin-left;
        transition-duration: 0.5s;
    }
}

@media(min-width: 984px){
    .repair-cards--show-all{
        height: 280px;
        transition: height;
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
    }
}

.repair-cards__button{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90% !important;
    height: 70px !important;
    margin-right: 10%;
    margin-bottom: 15px;
    background: url(../img/repair-imgs/go.svg) 90% no-repeat ;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    transition: transform;
    transition-duration: 0.4s;
}

@media(min-width: 560px){
    .repair-cards__button{
        width: 220px !important;
        margin-right: 15px;
    }
}

@media(min-width: 1120px){
    .repair-cards__button{
        width: 240px !important;
    }
}

.repair-cards__img{
    display: block;
    margin-left: 15px;
    background-color: #fff;
    transition: margin-left;
    transition-duration: 0.5s;
}

.repair-cards__img--cliped{
    clip-path: ellipse(120px 50px at 0px 0px);
}

.services__readmore-wrap--repair-mode{
    display: none;
}

/* .spacer{
    visibility: hidden;
} */


@media(min-width: 560px){
    .services__readmore-wrap--repair-mode{
        display: block;
        margin-left: 32px;
        margin-bottom: 10px;
    }
}