.repair{
    background-color: #F8F8F8;
    border: 1px solid transparent;
}

/* Repaer Header Styles */


.repair-header{
    border: 1px solid transparent;
    background: linear-gradient( -270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.repair-header__text{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color:  #7E7E82;
    font-family: 'TTLakes-Regular';
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 15px 0px 15px 31px;
}

/* Repair Main Styles */


.repair-main{
    border: 1px solid transparent;
    overflow: hidden;
}

.repair-cards{
    display: flex;
    justify-content: space-between;
    margin: 24px 20px 40px 32px;
}


@media(min-width: 768px){

    .repair-cards{
        flex-wrap: wrap;
        height: 150px;
        margin-bottom: 15px;
        transition: height;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }

    .repair-cards--show-all{
        height: 330px;
        transition: height;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
}

.repair-cards__button{
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 220px !important;
    height: 70px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: url(../img/repair-imgs/go.svg) 90% no-repeat ;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

@media(min-width: 768px){
    .repair-cards__button{
        width: 220px !important;
    }
}

@media(min-width: 1120px){
    .repair-cards__button{
        width: 240px !important;
    }
}

.repair-cards__img{
    display: block;
    margin-left: 15px;
    background-color: #fff;
}

.repair-cards__img--cliped{
    clip-path: ellipse(120px 50px at 0px 0px);
}

.services__readmore-wrap--repair-mode{
    display: none;
}

.spacer{
    visibility: hidden;
}


@media(min-width: 768px){
    .services__readmore-wrap--repair-mode{
        display: block;
        margin-left: 32px;
        margin-bottom: 10px;
    }
}